extends layout 

block content
  .container.mb-3
    .row.justify-content-start.align-items-center
      h1.col=title
      a(href="/catalog/brand/create").col.btn.btn-primary + New Brand 
  each brand in brands
    .card.mb-3
      .card-body
        h2
          a(href=brand.url).card-title= brand.name
        p.card-text= brand.description
