extends layout
include mixins/item-card.pug

block append scripts 
  script(src="/javascripts/toggle-delete-alert.js", defer)

block content 
  h1 Category: #{category.name}
  each item in items 
    +item-card(item)
  a(href=category.url + '/update').btn.btn-primary Update
  button#delete-alert-toggler.btn.btn-danger.ms-5 Delete
  div#delete-alert.alert.alert-danger.invisible.mt-4
    p Do you really want to delete #[span.fw-bolder #{category.name}] category?
    p This action will result in the removal of this category from the category list in all elements that have it. 
    form(action=category.url + "/delete", method="POST")
      button#delete-btn-confirm.btn.btn-danger Submit
