extends layout 

block content
  .container.mb-3
    .row.justify-content-start.align-items-center
      h1.col=title
      a(href="/catalog/category/create").col.btn.btn-primary + New Category 
  each category in categories
    .card.mb-3
      .card-body
        h2
          a(href=category.url).card-title= category.name