extends layout
include mixins/item-card.pug

block content
  .container.mb-3
    .row.justify-content-start.align-items-center
      h1.col=title
      a(href="/catalog/item/create").col.btn.btn-primary + New Item 
  each item in items
    +item-card(item)
